/* Large Tablet Devices */
@media only screen
and (max-width : 1500px) {
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/
  .footer_nav ul li a { padding: 0 62px; }

}

@media only screen
and (max-width : 1400px) {
  /*Header Area*/
  .main_logo img { width: 300px; }

  /*Nav Area*/
  #nav_area { right: 0; }

  /*Banner Area*/

  /*Middle Area*/
  .middle_boxes section { width: 22%; }
  .middle_boxes section a { left: -108px; }

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/
  .footer_nav ul li a { padding: 0 47px; }

}

@media only screen
and (max-width : 1300px) {
  :root {
    --xsmallFont: 20px;
    --smallFont: 22px;
    --medFont: 25px;
    --largeFont: 40px;
    --xlargeFont: 45px;
  }

  /*Header Area*/

  /*Nav Area*/
  .page_nav ul li a { padding: 0 18px; }

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/
  .btm3_form { padding: 117px 40px 80px; }
  .btm3_form form textarea { width: calc(100% - 480px); }
  .g-recaptcha { transform: scale(.8); }
  .captcha-box { width: 243px; height: 62px; }
  .btm3_form form button { width: 200px; }

  /*Footer Area*/

}
@media only screen
and (max-width : 1200px) {
  /*Header Area*/

  /*Nav Area*/
  .page_nav ul li a { font-size: 16px; padding: 0 15px;}

  /*Banner Area*/

  /*Middle Area*/
  .middle_boxes section a { left: -88px; width: 180px; }

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/
  .footer_map { max-width: 32%; }

  .footer_nav ul li a { padding: 0 37px; }

}
@media only screen
and (max-width : 1090px) {
  html, body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
  }
  /*Header Area*/

  /*Nav Area*/
  .page_nav ul li a { padding: 0 8px; }

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/
  .footer_nav ul li a { padding: 0 30px; }

}

@media only screen
and (max-width : 1024px) {
   /* Nav Area Sub-Menu Style */
   .page_nav ul li.menu-item-has-children > span{display:block;font-size: 17px;right:20px;top:30px;position:absolute;}
   .page_nav ul li:hover > ul{display: none;}

   /*banner*/
   .box_skitter{top:0!important;}

   .wow {animation-name: none!important; transform: none!important; opacity: 1!important;}
}

@media only screen
and (max-width : 1000px) {

  /*Header Area*/
  header {padding: 40px 25px;position: static;background: #fff;border-bottom: 3px solid var(--priColor);}
  .header_con{min-height: 0;padding:0;}

  .main_logo{float: left; position: static; margin-top: 20px;}
  .head_info{float: right; margin: 0; padding: 0; display: block;}
  .header_info{text-align: right; margin: 0; padding: 0 60px 0 0; display: block; position: relative; inset: auto;}
  .header_info::before { left: auto; right: 0; }

  .social_media{display: block; margin: 15px 0 0; position: static; text-align: right;padding: 20px;background: #373737;}
  .social_media::before { display: none; }

  /*Nav Area*/
  #nav_area { inset: auto; }
  .page_nav {width: 100%; float: none; clear: both; height: auto; transition: none; padding: 25px 15px; margin: 0 auto 0; text-align: center;}
  .page_nav ul{ margin:0; padding:0 5px;text-align:center; position: static;}
  .page_nav ul li{width: 32%; margin:5px 3px !important;}
  .page_nav ul li:after{display:none;}
  .page_nav ul li a{line-height: 60px; height: auto; border:2px solid var(--secColor); border-radius: 30px; padding: 0;}
  .page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a{text-decoration: none; background: var(--secColor); color: #fff;}

  .page_nav ul li.menu-item-has-children > span{right:0;top:15px;}


  .page_nav ul ul, .page_nav ul ul li, .page_nav ul ul li a {width:100%; padding: 0;}
  .page_nav ul ul li{margin: 0 !important}
  .page_nav ul ul a, .page_nav ul li.current_page_item ul li a { border-radius: 0; border: none; line-height: 24px;}

  /*Banner Area*/
  #banner{padding: 0;background: #fff;}
	.bnr_con{min-height:0;padding:0;}
	.box_skitter{display:none;}
  .rslides{display: block;}
	.slider{display:block;width:100%;margin-left:0; max-width: 100%; position: static;}
  .slider::before{display: none;}

  .bnr_dots { display: none; }

  .bnr_info{width:100%;max-width: 100%;position:static;padding:45px 25px;text-align: center;background:var(--linearBg1);text-align: center;min-height: 0;}
  .bnr_info p { width: 100%; max-width: 100%; margin: 30px 0; }
  .bnr_info a{margin: 0 auto;}

	/*NON-HOME*/
  .non_ban_img{width: 185%;margin-left: -40%;transform:none;}
  .page_title { width: 100%; left: auto; transform: none; }

  .mission_vision{display: block;}
  .mission_vision section { width: 100%; }
  .mission_vision section p { min-height: 0; }
  .vision { margin-top: 20px; }

  .serv_boxes section {width:45%;}

  /*Middle Area*/
  #middle{padding: 60px 25px;}
  .middle_con{min-height:0;padding:0;}
  .mid_info {width: 100%; max-width: 100%; min-height: 0; text-align: center; padding: 0; position: static; float: none; display: block;}
  .mid_info p { width: 100%; max-width: 100%; margin: 30px 0; }
  .mid_info a{margin: 0 auto;}
  .middle_boxes{position: static; width: 100%; max-width: 100%; justify-content: space-evenly; flex-wrap: wrap; row-gap: 15px;}
  .middle_boxes section{width: 48%; text-align: center; padding: 40px 20px 110px; max-width: 320px; margin: 0;}
  .middle_boxes section a { top: auto; bottom: 30px; left: 50%; transform: translateX(-50%); }

  /*Main Area*/
  #main_area{padding:60px 25px; margin:0;min-height:0;background: var(--linearBg1);}
  .main_con{min-height:0;padding:0;}
  main{float: none; position: static; margin: auto; width:100%; max-width: 100%;min-height: 0;background: transparent;padding: 0;}

  .main_img { display: none; }
  .main_dots { display: none; }

  .main_info { position: static; transform: none; margin: 40px auto 0; }

  .intro_txt{width:100%;}

  /*Bottom Area*/
  #bottom1{padding: 60px 25px;background: #dcdbd9;}
  .btm1_con{min-height:0;padding:0;}
  .btm1_info {width: 100%; max-width: 100%; min-height: 0; text-align: center; padding: 0; position: static; float: none; display: block;}
  .btm1_info p { width: 100%; max-width: 100%; margin: 30px 0; }
  .btm1_info a{margin: 0 auto;}
  .btm1_boxes{position: static; width: 100%; max-width: 100%; justify-content: space-evenly; flex-wrap: wrap; row-gap: 15px;}
  .btm1_boxes section{width: 48%; text-align: center;padding: 0 0 25px;}
  .btm1_boxes section figure { position: static; }
  .btm1_box_con { min-height: 0; padding: 40px 20px 60px; top: -2px;}

  #bottom2{padding: 60px 25px;}
	.btm2_con{min-height:0;padding:0;}
  .btm2_info {width: 100%; max-width: 100%; min-height: 0; text-align: center; padding: 0; position: static; float: none; display: block;}
  .btm2_info p { width: 100%; max-width: 100%; margin: 30px 0; }
  .btm2_info a{margin: 0 auto;}
  .btm2_boxes{position: static; width: 100%; max-width: 100%; justify-content: space-evenly; flex-wrap: wrap; row-gap: 15px;}
  .btm2_boxes section{width: 48%; text-align: center; padding: 40px 20px;}

  .btm2_dots { display: none; }
  .btm2_img { display: none; }

  #bottom3{padding: 20px 25px 60px;}
	.btm3_con{min-height:0;padding:0;}
  .btm3_form { width: 100%; max-width: 100%; min-height: 0; text-align: center; padding: 0; position: static; float: none; display: block; padding: 60px 20px;}
  .btm3_form_info {width: 100%; max-width: 100%; min-height: 0; text-align: center; padding: 0; position: static; float: none; display: block;}
  .btm3_form_info p { width: 100%; max-width: 100%; margin: 30px 0; }
  .btm3_form_info a{margin: 0 auto;}
  .btm3_form form input, .btm3_form textarea { width: 49%; margin-bottom: 15px !important; }
  .btm3_form form textarea { width: 100%; }
  .captcha-box { margin: 0 0 0 auto; width: 213px; height: 55px;}
  .g-recaptcha { transform: scale(.7); }
  .btm3_form form button { margin: 0 auto 0 15px !important; }

  #bottom4{padding: 60px 25px;}
	.btm4_con{min-height:0;padding:0;}
  .btm4_info {width: 100%; max-width: 100%; min-height: 0; text-align: center; padding: 0; position: static; float: none; display: block;}
  .btm4_info p { width: 100%; max-width: 100%; margin: 30px 0; }
  .btm4_info a{margin: 0 auto;}
  .btm4_boxes{position: static; width: 100%; max-width: 100%; justify-content: space-evenly; flex-wrap: wrap; row-gap: 15px;}
  .btm4_boxes section{width: 48%; text-align: center; padding: 40px 20px;}

  /*Footer Area*/
  footer{}
    .footer_top{height:auto;padding: 60px 25px;background: #dcdbd9;}
	  .footer_top_con{min-height:0;padding:0; display: block;}

    .contact_info{width:100%;float:none;text-align:center;margin:0 auto;}
    .contact_info_heading{width: 100%; max-width: 100%; min-height: 0; text-align: center; padding: 0; position: static; float: none; display: block;}
    .contact_info_heading p { width: 100%; max-width: 100%; margin: 30px 0; }
    .contact_info_heading a{margin: 0 auto;}
    .contact_info_list{display: block; margin: 20px 0;}
    .contact_info_list li{padding:0;display:inline-block;vertical-align:top;margin:0 15px;}
    .contact_info_list li:before{display:block;position:static;margin:0 auto 5px;min-height: 35px;}

    .footer_map { max-width: 600px; width: 100%; margin: 40px auto; }

    .footer_logo { width: fit-content; margin: 40px auto 0; }

	  .footer_btm{height:auto;padding: 40px 25px;}
	  .footer_btm_con{min-height:0;padding:0;}

    .footer_nav ul { text-align: center; }
  	.footer_nav ul li{display: inline-block; vertical-align: top; width: 32%;}
  	.footer_nav ul li a{margin:5px;padding: 15px 10px !important; line-height: initial; border: 1px solid var(--priColor); border-radius: 30px;}
	  .footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{text-decoration:none;background:var(--priColor);}
  	.footer_nav ul li:after{display:none;}
  	.copyright{float: none;margin: 25px auto 0;text-align: center; color: #fff;}

}

@media only screen
and (max-width : 800px) {

  /* Header Area */
  header{background: #373737;border: none;}
	.main_logo{max-width: 78%; margin: 0;}
	.head_info{display:block;margin:0 auto;text-align:center;padding:0;float:none;}
	.header_info{display:block;margin:0 auto;text-align:center;padding:0;float:none;}
  .header_info::before { position: static; display: block; margin-bottom: 5px; }

  /* .header_info ul li { padding-right: 0; }
  .header_info ul li::before { position: static; display: block; margin-bottom: 3px; } */

	.social_media{text-align: center;padding: 0;margin: 0;background: transparent;}

  /* Nav Area*/
  #nav_area{padding:25px 15px;background: #fff;position:relative;}
  .nav_toggle_button{display:block;position:relative;}

	.page_nav {width: 280px;position: fixed;top: 0;right: -280px;height: 100%;background: var(--priColor);transition: all 0.7s ease;overflow-y: scroll;padding: 0 0 30px;opacity: 0;float: none; clear: both;z-index:250;}
	.page_nav ul{margin: 0; padding: 25px 15px;}
	.page_nav ul li{width: 100%; display: block; margin: 0 auto 5px !important;}
  .page_nav ul li a { color: #fff; }

	.page_nav ul ul{width:100%; position:relative;  transition:none;}
	.page_nav ul ul li { width:100%;}


  /* Toggle Style */
  .toggle_right_nav {position: fixed;top: 0;left: 0;right: 0;width:100%;height: 100%;z-index: 1000;visibility: hidden; transition: all 0.7s ease;}
  .toggle_nav_close {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
  .toggle_right_cont {visibility: visible;background: rgba(0,0,0,0.9);}
  nav.toggle_right_style {right: 0;opacity: 1;z-index: 45;}
  .logo_slide_right {display:block;float:left;width: calc(100% - 90px);}

  .menu_slide_right {display: block;text-align: left;padding: 20px 10px;background: #fff;position: relative;}

  /*Banner Area*/

  /*Middle Area*/


  /*Main Area*/

  /*Bottom Area*/
  .btm1_boxes section h2 span { display: block; }

  /*Footer Area*/
  .contact_info{}
  .contact_info_list{}
  .contact_info_list li{display:block;margin:15px auto;}


  .footer_nav ul li{width:48%;}

  .footer_comp{display:block;margin:0 auto;padding:0;}
  .footer_comp:before, .footer_comp:after{display: none;}

  .copyrigh_text { padding-left: 0; }
  .copyrigh_text::before { display: none; }

  /* Other */
  .thumb_right_dd, .thumb_left_dd{width: 250px;}
  .col3{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .sitemap{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
}

/* Smartphones */
@media only screen
and (max-width : 600px) {

  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/
  .non_ban_img{width: 190%;margin-left: -45%;}
  .page_title{position: static;background: #000;font-size: 30px;}
  .page_title::before { display: none; }



  /*Middle Area*/
  .middle_boxes{display: block;}
  .middle_boxes section{display: block; width: 100%; margin: 15px auto;}

  /*Main Area*/
  .main_info_con h2 span a { display: block; }
  .main_info_con h2 span q { display: none; }

  /*Bottom Area*/
  .btm1_boxes{display: block;}
  .btm1_boxes section{display: block; width: 100%; margin: 15px auto;}

  .btm2_boxes{display: block;}
  .btm2_boxes section{display: block; width: 100%; margin: 15px auto;}

  .btm3_boxes{display: block;}
  .btm3_boxes section{display: block; width: 100%; margin: 15px auto;}

  .btm4_boxes{display: block;}
  .btm4_boxes section{display: block; width: 100%; margin: 15px auto;}

  .btm3_form form { display: block; text-align: center; }
  .btm3_form form input, .btm3_form textarea { width: 100%; }
  .captcha-box { margin: 0 auto; }
  .btm3_form form button { margin: 15px auto 0 !important; }

  /*Footer Area*/
  footer {padding-bottom: 45px;}

  .footer_nav ul li{display:block;width:100%;}
  .footer_nav ul li a{margin:5px auto;}


  /*Others*/
  #wpadminbar {position: fixed!important;}
  .col2, .col3{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .thumb_left_dd, .thumb_right_dd, .thumb_center_dd{display: none;}
  main .bullet{padding-left:10px;}
  .serv_boxes section {width:100%;margin:0 auto 20px auto;display:block;}
  .resources ul li{min-height: 0;}

  /*For (AddThis) Plugins*/
  .withAddThis_plugins {bottom: 48px;}
  .withAddThis_ftr_btm {padding: 0 10px 88px;}
  /*End (AddThis) Plugins*/

}

@media only screen
and (max-width : 500px) {

  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/

}
